* {
    box-sizing: border-box;

    margin: 0;
    padding: 0;
    border: 0;

    background-color: transparent;
}

body {
    font-family: 'Roboto', sans-serif;

    background: #fafafa;
}

.container {
    display: flex;
    justify-content: center;
}

ion-icon {
    font-size: 22px;
}

h1, span, p {
    font-size: 14px;
}

h1, strong {
    font-weight: 500;
}

em {
    font-style: normal;
    color: #139EF2;
}


/*::::::::::::::::NAV::::::::::::::::*/

nav {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1;

    height: 54px;

    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 0 5vw;
    border: 1px solid #DBDBDB;

    background-color: #fff;
}

nav div {
    height: 25px;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav .logo .divider {
    width: 1px;
    height: 100%;
    background-color: #DBDBDB;
}

nav .logo img {
    height: 100%;
}

nav input {
    all: unset;

    display: flex;
    align-items: center;
    text-align: center;

    width: 215px;
    height: 26px;

    border: solid 1px #DBDBDB;
    border-radius: 3px;

    background-color: #fafafa;
}

nav .logo-mobile {
    width: 103px;
}

main {
    width: 100%;

    margin-top: 54px;
}

/*::::::::::::::::STORIES::::::::::::::::*/

.stories {
    position: relative;

    width: 100%;
    height: 118px;

    display: flex;
    align-items: center;

    overflow: hidden;
}

.stories .arrow {
    position: absolute;

    right: 10px;

    font-size: 26px;
    color: #fff;

    filter: drop-shadow(0px 5px 3px rgba(0, 0, 0, 0.2));
}

.stories article {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    margin-left: 14px;
}

.stories article div {
    position: relative;

    display: flex;
    justify-content: center;
    align-items: center;
}

.stories article div * {
    border-radius: 50%;
}

.stories article div :first-child {
    width: 66px;
}

.stories article div :last-child {
    width: 56px;
    position: absolute;
}

.stories article span {
    font-size: 12px;
}

/*::::::::::::::::FEED::::::::::::::::*/

.feed {
    margin-bottom: 114px;
}

.feed article {
    margin-bottom: 60px;

    background-color: #fff;

    border: 1px solid #DBDBDB;
}

.feed article header {
    height: 60px;

    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 0 18px;
}

.feed article header div {
    display: flex;
    align-items: center;
}

.feed article header div img {
    width: 32px;

    border-radius: 50%;
}

.feed article header div h1 {
    margin-left: 15px;
}

.feed article .photo, .feed article video {
    width: 100%;

    margin-bottom: 7px;
}


.feed article footer .comments,
.feed article footer .likes,
.feed article footer .options    {
    padding: 0 15px;

    margin-bottom: 10px;
}

.feed article footer .options {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.feed article footer .options div{
    width: 100px;

    display: flex;
    justify-content: space-between;
}

.feed article footer .likes  {
    display: flex;
    align-items: center;
}

.feed article footer .likes img {
    width: 25px;

    border-radius: 50%;

    margin-right: 7px;
}


.feed article footer .comments .comment {
    margin-bottom: 3px;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.feed article footer .comments .like {
    font-size: 14px;
}

.feed article footer .comments button {
    font-size: 14px;

    margin-bottom: 5px;

    color: #8E8E8E;
}

.feed article footer .comments span {
    font-size: 11px;

    color: #8E8E8E;
}

.feed article footer .new-comment {
    width: 100%;
    height: 60px;

    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 0 15px;
    border-top: 1px solid #DBDBDB;
}

.feed article footer .new-comment div {
    height: 100%;
    width: 100%;

    display: flex;
    align-items: center;
}

.feed article footer .new-comment div ion-icon {
    font-size: 28px;
}

.feed article footer .new-comment input {
    all: unset;
    
    width: 100%;
    height: 100%;

    margin-left: 15px;
}

.feed article footer .new-comment button {
   color: #B2DFFC;
}

.feed article footer .new-comment button:hover {
    color: #0095F6;

    transition-duration: 300ms;
 }

/*::::::::::::::::SIDEBAR::::::::::::::::*/

aside {
    position: sticky;
    top: 134px;

    display: none;

    width: 300px;
    height: fit-content;

    margin-left: 2vw;
}

aside header {
    display: flex;
    align-items: center;

    height: 50px;
}

aside img {
    border-radius: 50%;
}

aside header img {
    width: 56px;
}

aside header div {
    margin-left: 10px;
}

aside h1{
    font-size: 14px;

    font-weight: 500;
}

aside span{
    font-size: 14px;

    color: #8E8E8E;
}

aside .suggestions {
    height: 35px;

    display: flex;
    justify-content: space-between;
    align-items: center;

    margin-bottom: 10px;
}

aside .suggestions span {
    font-size: 12px;
}

aside .suggestions button {
    font-weight: 500;
} 

aside .suggestions .left {
    height: 100%;

    display: flex;
}

aside .suggestions .left div {
    margin-left: 10px;
}

aside .suggestions .follow {
    color: #139EF2;
} 

aside footer p {
    font-size: 11px;

    line-height: 13px;

    color: #8E8E8E;
}

aside footer .menu {
    margin: 33px 0 18px;
}

/*::::::::::::::::MOBILE::::::::::::::::*/

#mobile-footer {
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;

    height: 54px;

    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 0 3%;

    border-top: 1px solid #DBDBDB;

    background-color: #fff;
}



/*::::::::::::::::SUPPORT::::::::::::::::*/

.no-mobile {
    display: none;
}


img, ion-icon, h1, h2, strong, video, button {
    cursor: pointer;
}

/*::::::::::::::::MEDIA QUERY::::::::::::::::*/

@media (min-width: 614px) {

    .no-mobile {
        display: initial;
    }

    nav div {
        width: 130px;
    }

    nav .logo-mobile {
        display: none;
    }

    main {
        width: 614px;

        padding-top: 54px;
    }

    .stories {
        margin-bottom: 5vh;
        border: 1px solid #DBDBDB;

        background-color: #fff;
    }

    #mobile-footer {
        display: none;
    }
}

@media (min-width: 935px) {
    aside {
        display: initial;
    }
}