* {
    box-sizing: border-box;

    margin: 0;
    padding: 0;
    border: 0;
}

ion-icon {
    font-size: 1.5em;
}

header {
    height: 7vh;

    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 0 5vw;

    border: 1px solid #DBDBDB;
}

header img {
    height: 70%;
}